html, body {
    background-color: #D8E1E6;
}
.content {
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    -moz-box-shadow:    3px 3px 5px 6px #C8D1D6;
    -webkit-box-shadow: 3px 3px 5px 6px #C8D1D6;
    box-shadow:         3px 3px 5px 6px #C8D1D6;
}

div.content {
	padding: 2em;
	margin: 5em 10em;
}
