<html>
<head>
<title>Something bad happened</title>
</head>
<body>

<h1>Something bad happened!</h1>

<p><b>Error Message:</b> ${message}</p>

<p><b>Application Error Code:</b> ${applicationCode}</p>

<p><b>Stack Trace:</b></p>
<pre>
${h.stringifyException($ex)}
</pre>
</body>
</html>
