#header("Internal Error" '')

<p><b>Error Message:</b> ${message}</p>

<p><b>Application Error Code:</b> ${applicationCode}</p>

<p><b>Stack Trace:</b></p>
<pre>
${h.stringifyException($ex)}
</pre>

#footer()
